<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <% include templates/header.ejs %>

        <main>
            <article>
                <header>
                    <h1>
                        <%= article_title %>
                    </h1>
                    <h2 class="col-ocre">
                        <a href="/profile/<%= article_author %>"></a><%= article_author %>
                    </h2>
                    <p>
                        @CodeAnon ~ <%= article_date %>
                    </p>
                    <p>
                        <% article_tags.forEach( item => {%>
                        #<%= item  %>
                        <% }) %>
                    </p>
                    <p>
                        <%= article_description %>
                    </p>
                </header>
                <main>
                    <p>
                        <%- article_content %>
                    </p>
                </main>
            </article>
        </main>


        <% include templates/footer.ejs %>
    </section>
</body>

</html>