<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/main.css">

    <!-- main script -->
    <script type="text/javascript" src="js/script.js"></script>

    <title>CodeAnon</title>
</head>

<body>
    <div class="blog-grid-container back-dark">
        <div class="blog-head back-dark col-ocre">
            <h1>[<%= username %>@CodeAnon ~]$</h1>
        </div>
        <div class="blog-right back-grey"></div>
        <div class="blog-main back-grey col-light">
            <div class="search-bar">
                <form method="GET">
                    <button name="allArt">show all articles</button>
                </form>
                <form method="GET">
                    <input type="text" name="tag" placeholder="Search article by tag" autofocus>
                </form>

            </div>
            <div class="wrapper back-grey">
                <% for (var i = 0; i < article_list.length; i++) {%>
                <a href="/article/<%= article_list[i]._id %> ">

                    <div class="card back-dark">
                        <h1 class="col-ocre"><%= article_list[i].article_title %></h1>
                        <h2 class="col-grey"><%= article_list[i].article_author %></h2>
                        <h2 class="col-grey">
                            <%= article_date_list[i] %>
                        </h2>
                        <p class="col-light">
                            <%= article_list[i].article_description.slice(0, 120) %>
                        </p>
                    </div>
                </a>

                <% } %>
            </div>
        </div>
        <div class="blog-left back-grey">

        </div>
        <div class="blog-footer back-dark">
            <a href="/logout"><button class="disconnect"><b>X</b></button></a>
            <a href="/about">
                <h1>About us</h1>
            </a>
        </div>
    </div>
</body>

</html>