<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <nav id="top">
            <a href="/home">/home (logo)</a>
            <a href="/profile" class="lol">/profile</a>
        </nav>
        <header>
            <h1>[<span><%= username %></span>@CodeAnon/<span>blog</span> ~]$</h1>
        </header>
        <!--    Main    -->
        <main>
            <h4>Tu veux écrire tes propres articles? -> <a href="/submit"> <strong>viens par ici</strong></a></h4>
            <!--    a retravailler  -->
            
            
            <form method="GET">
                <input type="text" name="tag" placeholder="Recherche par tags" autofocus>
                <button type="submit">Recherche...</button>
            </form>
            <form method="GET">
                <button name="allArt">Afficher tout les articles</button>
            </form>
            

            <form method="GET">

            </form>
            <!--    Jusqu'ici   -->
            <article>

                <% for (let i = 0; i < article_list.length; i++) {%>
                <a href="/article/<%= article_list[i]._id %> ">
                    <section class="card">
                        <header>
                            <h3><%= article_list[i].article_title %></h3>
                            <h3 class="col-ocre"><%= article_list[i].article_author %></h3>
                            <h3><%= article_date_list[i] %></h3>
                            <p>
                                <%= article_list[i].article_description.slice(0, 120) %>
                                
                            </p>
                            <p>
                                <% article_list[i].article_tags.forEach( item => {%>
                                    #<%= item  %>
                                <% }) %>
                            </p>
                        </header>
                    </section>
                </a>
                <% } %>
            </article>
        </main>
        <footer class="back-grey">
            <a href="/about">
                <h3>
                    Mentions légales
                </h3>
            </a>
        </footer>
        <a href="#top">
            <div class="to-top"></div>
        </a>
    </section>
</body>

</html>