<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="/css/wip.css">

    <title>CodeAnon</title>
</head>

<body>
    <section class="layout col-light">
        <!--    Header  -->
        <% include templates/header.ejs %>
        <!--    Main    -->
        <main>
            <h4>Tu veux proposer tes propres projets? -> <a href="/projecter"> <strong>viens par ici</strong></a></h4>
            <!--    a retravailler  -->


            <form method="GET" class="text-center"><!--action="/project/perTag"-->
                <input type="text" name="tag" placeholder="Recherche par tags">
                <button type="submit">Recherche...</button>
            </form>
            <form method="GET" class="text-center"> <!--action="/project/allArt"-->
                <button name="allArt" value="allArt">Afficher tout les projets</button>
            </form>


            <form method="GET">

            </form>
            <!--    Jusqu'ici   -->
            <article>

                <% for (let i = 0; i < project_list.length; i++) {%>
                <a href="/project/<%= project_list[i].project_id %> ">
                    <section class="card">
                        <header>
                            <h3><%= project_list[i].title %></h3>
                            <h3>
                                <object data="user.svg" type="image/svg+xml">
                                    <img src="/public/user.svg" alt=""></object>
                                <span><%= project_list[i].username %></span> | <%= project_date_list[i] %>
                            </h3>
                            
                            <p>
                                <%= project_list[i].description.slice(0, 120) %>

                            </p>
                            <p>
                                <% if(project_list[i].tags) {%>
                                    <% project_list[i].tags.forEach( item => {%>
                                        #<%= item  %>
                                    <% }) %>
                                <% } %>
                            </p>
                        </header>
                    </section>
                </a>
                <% } %>
            </article>
        </main>
        <!--    Footer  -->
        <% include templates/footer.ejs %>
    </section>
</body>

</html>